<div class="divider cf">
      {% if section.settings.enable_cart_notes %}
      <div class="checkout-note layout-column-half-left">
        <label for="note">{{ 'cart.label.note' | t }}</label>
        <div class="textareawrapper"><textarea id="note" name="note">{{ cart.note }}</textarea></div>
      </div><!-- /.checkout-note -->
      {% endif %}

      <div class="totals-area layout-column-half-right">
      
        <div class="checkout-col">
          <h2 class="subtotal h1-style"><span class="theme-money">{{ cart.total_price | money }}</span></h2>

          {% if section.settings.cart_terms_page != blank %}
          <div class="termsagreement">
            <input type="checkbox" id="terms" />
            {% assign terms_url = pages[section.settings.cart_terms_page].url %}
            <label for="terms">{{ 'cart.terms.agreement_html' | t: terms_url: terms_url }}</label>
          </div>
          {% endif %}

          <div class="checkout-buttons">
            <input type="submit" class="notabutton" name="update" value="{{ 'cart.general.update' | t }}" /> {{ 'cart.general.or' | t }}
            <input type="submit" class="altaltcolour" id="update-cart" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
            {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
            {% endif %}
          </div>

          <div>{{ 'cart.general.message' | t }}</div>
        </div>
      </div>

-------------------------------------------------------------------
Pero yo quiero hacerlo con tres columnas incluyendo esto .... 

   <div class="tbtDeliveryCalendar"></div>
  